/* GLOBAL STYLE RESET */
:root {
  --custom-color1: rgb(243, 243, 243);
}

*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
button {
  cursor: revert;
}

ol,
ul,
menu {
  list-style: none;
}

img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

table {
  border-collapse: collapse;
}

input,
textarea {
  -webkit-user-select: auto;
}

textarea {
  white-space: revert;
}

meter {
  -webkit-appearance: revert;
  appearance: revert;
}

:where(pre) {
  all: revert;
}

::placeholder {
  color: unset;
}

::marker {
  content: initial;
}

:where([hidden]) {
  display: none;
}

:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

:where([draggable="true"]) {
  -webkit-user-drag: element;
}

:where(dialog:modal) {
  all: revert;
}

html {
  font-size: 62.5%;
  font-family: "Noto Sans JP", sans-serif;
}




/* CUSTOM CLASSES / CUSTOM COMPONENTS */

.underline {
  box-shadow: inset 0 -0.6rem rgba(235, 231, 15, 1);
}

/* DESKTOP DESIGN / DESKTOP VERSION */

body {
  min-width: 90rem;
  width: 100vw;
  min-height: 75rem;
  height: 100vh;
  position: absolute;
  overflow-x: hidden;
}

.webpage {
  position: fixed;

  min-width: 90rem;
  min-height: 75rem;
  width: 100vw;
  height: 100vh;
  background-image: url(./Img/backgroundBig.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  grid-template-columns: 1fr 39rem 1fr;
}

aside:first-child {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;

  width: auto;
}

/* DESIGN LEFT SIDE WEBPAGE */

.aside-left_logo img:first-child {
  margin-top: 3.5rem;
  margin-left: 3.5rem;
  width: 4%;
}

.aside-left_logo img:last-child {
  width: 20%;
}

.aside-left_logo2 {
  margin: auto;
}

.aside-left_logo2 img {
  object-fit: contain;
}

.aside-left_download-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: auto;
  background-color: var(--custom-color1);
  width: 82%;
  height: 20%;
  border: 0.5rem solid black;
  border-radius: 3rem;

  font-size: 1.5rem;
  font-weight: bold;
}

.aside-left_download-btn img {
  margin-right: 1rem;
  min-width: 3rem;
  width: 10%;
}

/* DESIGN RIGHT SIDE WEBPAGE */

.aside-right {
  display: grid;
  grid-template-rows: 1;
  row-gap: 2rem;

  width: 100%;
  height: 100%;
}

.aside-right_title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--custom-color1);
  justify-self: center;
  align-self: last baseline;
}

.aside-right_content {
  padding: 1rem;

  justify-self: center;
  align-self: baseline;
  background-color: #f3f3f3;
  width: 82%;
  height: 45%;
  border: 0.5rem solid black;
  border-radius: 4rem;

  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 3.2rem;
}

/* MAIN WEBPAGE DESIGN / CENTER PART */

main {
  margin: auto;
  position: relative;
  min-width: 39rem;
  width: 39rem;
  background-color: var(--custom-color1);
}

/* REFACTOR CODE FROM HERE */

.menu {
  width: 4rem;
  height: 4rem;
  background-color: black;
  border: none;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.menu .line {
  width: 3rem;
  border: 0.1rem solid white;
  border-radius: 1rem;
}

.main-content {
  margin: auto;
  width: 35rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-content .aside-left_download-btn {
  width: 100%;
  margin-top: 3rem;
}

.elementOne {
  margin-top: 3rem;
  width: 90%;
  height: 9rem;
  border-radius: 1rem;
  background-color: #ff7600;
}

@media only screen and (max-width: 70rem) {
  .webpage {
    /* default is 1 */
    opacity: 0;
    /* default is visible */
    visibility: hidden;
  }

  body {
    margin: auto;
    min-width: 37rem;
    max-width: 37rem;
    width: 37rem;
  }

  main {
    margin: auto;
    max-width: 37rem;
    width: 37rem;
  }
}
