:root {
  --custom-color1: #fff;
}

/* CUSTOM CLASSES / CUSTOM COMPONENTS */

.underline {
  box-shadow: inset 0 -1rem rgb(236, 233, 14);
}

.divider {
  margin: auto;
  min-width: 375px;
}

.small-text {
  font-size: 2.1rem;
  color: #000;
}

/* DESKTOP DESIGN / DESKTOP VERSION */

body {
  min-width: 130rem;
  width: 100vw;
  min-height: 75rem;
  height: 100vh;
  position: absolute;
  overflow-x: hidden;
}

.webpage {
  position: fixed;
  width: 100%;
  height: 100%;
  background-image: url(./Img/backgroundBig.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  grid-template-columns: 1fr 375px 1fr;
}

/* DESIGN LEFT SIDE WEBPAGE */

.aside-left_logo img:first-child {
  margin-top: 3.5rem;
  margin-left: 3.5rem;
  width: 2.9rem;
  height: 1.8rem;
}

.aside-left_logo img:last-child {
  width: 12.4rem;
  height: 1.8rem;
}

.aside-left_logo2 {
  margin: auto;
  width: 37.3rem;
  height: 17rem;
}

.aside-left_logo2 img {
  width: 37.3rem;
  height: 17rem;
}

.center {
  margin: auto;
  width: 451px;
  height: 100%;
  display: flex;
  align-items: center;
  transform: translateY(-100px);
}

.aside-left_download-btnMain {
  /* margin-top: 186px; */
  margin-bottom: auto;
  margin-left: auto;
  margin-right: auto;
  white-space: nowrap;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 384px;
  height: 73px;
  border: 5px solid #000;
  box-shadow: 0px 20px 26px #00305729;
  border-radius: 60px;
  background-color: #fff;

  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #000;

  padding: 20px 46.63px 19.8px 41.79px;
}

.firstMain {
  width: 22px;
  height: 22px;
}

.aside-left_download-btn {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #fff;
  width: 31.5rem;
  height: 5.9rem;
  border: 0.5rem solid black;
  border-radius: 3rem;

  font-size: 1.3rem;
  font-weight: bold;
}

.aside-left_download-btn .first {
  width: 1.6rem;
  opacity: 1;
}

.second {
  display: none;
  visibility: hidden;
  opacity: 0;
  width: 1.6rem;
}

/* .aside-left_download-btn img {
  margin-right: 1rem;
  min-width: 3rem;
  width: 5%;
} */

.secondMain {
  display: none;
}

.aside-left_download-btn .first {
  width: 16px;
  height: 16px;
  margin-top: 3px;
}

.aside-left_download-btn:hover .first,
.aside-left_download-btnMain:hover .firstMain {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.aside-left_download-btn:hover .second,
.aside-left_download-btnMain:hover .secondMain {
  display: block;
  visibility: visible;
  opacity: 1;
}

.aside-left_download-btn:hover,
.aside-left_download-btnMain:hover {
  background-color: black;
  color: white;
}

/* DESIGN RIGHT SIDE WEBPAGE */

.aside-right {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.aside-right_title {
  font-size: 27px;
  color: #fff;
  font-weight: bold;
  text-shadow: 0px 3px 6px #1275c629;
  line-height: 23px;
  margin-left: 36px;
}

.aside-right_content {
  width: 380px;
  height: 174px;
  border: 5px solid #000;
  border-radius: 40px;
  margin-top: 25px;
  margin-left: 36px;
  margin-right: 36px;
  background-color: #f3f3f3;
  box-shadow: 0px 0px 6px #1275c629;
  box-sizing: content-box;
}

.right-content-text1 {
  margin: 35px 30px 20px 30px;
  color: #000;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 0px;
  line-height: 34px;
}

.right-content-text2 {
  margin-left: 35px;
  font-size: 14px;
  text-align: left;
  letter-spacing: 0;
  font-weight: bold;
}

main {
  /* margin-left: 453px; */
  margin: 0 auto;
  position: relative;
  min-width: 37.5rem;
  width: 37.5rem;
  background-color: var(--custom-color1);
}

/* NAVIGATION MENU BAR CODE */

nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #0b83de;
  width: 100%;
  height: 68.5rem;
  overflow: hidden;
}

.menu-background-text {
  position: absolute;
  top: 10rem;
  z-index: 0;
  object-fit: unset;
  transform: scale(3.5) rotate(42deg);
  animation: movingInMenu linear 4s forwards infinite;
}

@keyframes movingInMenu {
  100% {
    transform: rotate(42deg) scale(3.5) translate(0, -16%);
  }
}

.menu-logo1 {
  margin-top: 3.5rem;
  margin-bottom: 6.4rem;
  margin-left: 2rem;
  width: 10.1rem;
  height: 1.2rem;
}

.menu-logo2 {
  margin-top: 3.5rem;
  margin-bottom: 6.4rem;
  width: 7.91rem;
  height: 1.2rem;
}

.square {
  z-index: 100;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: auto;
  margin-right: 2.5rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: black;
  border: none;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
  transition: all 0.6s;
  cursor: pointer;
}

.line {
  width: 1.55rem;
  border: 0.1rem solid white;
  border-radius: 1rem;
  transition: all 0.6s;
  opacity: 1;
}

.active {
  background-color: white;
}

.active .line1 {
  border: 0.1rem solid black;
  transform: rotate(30deg) translate(2px, 5.5px);
}

.active .line2 {
  opacity: 0;
  border: 0.1rem solid black;
}

.active .line3 {
  border: 0.1rem solid black;
  transform: rotate(-30deg) translate(2px, -5.5px);
}

nav {
  opacity: 0;
  transition: opacity 1s;
  visibility: hidden;
}

nav.display-hide {
  transition: opacity 1s;
  visibility: visible;
  opacity: 1;
  /* animation: appearIn ease-in forwards 0.6s; */
}

.menu-voices,
.menu-download-btn,
.menu-elementOne {
  position: relative;
  z-index: 10;
  font-size: 1.8rem;
  font-weight: bold;
}

.menu-voices li {
  color: white;
  margin-left: 3.6rem;
  margin-bottom: 3.4rem;
  cursor: pointer;
}

.menu-voices li:last-child {
  color: white;
  margin-bottom: 5.9rem;
}

nav .elementOne {
  margin: 3.3rem 6.1rem;
}

/* REFACTOR CODE FROM HERE */

header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.anytype-logo {
  margin-top: 3.5rem;
  margin-left: 2rem;
  margin-bottom: 2.5rem;
  width: 10.1rem;
  height: 1.2rem;
}

.menu {
  margin: 2.3rem 1rem 1.3rem 0rem;
  justify-self: right;
  width: 3.5rem;
  height: 3.5rem;
  background-color: black;
  border: none;
  border-radius: 0.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.menu .line {
  width: 2rem;
  border: 0.1rem solid white;
  border-radius: 1rem;
}

.main-content {
  padding: 0 3rem;
  width: 100%;
  /* I CAN ADD FLEXBOX HERE TO CENTER EVERY ELEMENT */
  text-align: center;
}

.main-content .aside-left_download-btn {
  width: 100%;
  margin-top: 3rem;
}

.elementOne {
  margin: 0.7rem auto;
  width: 26.5rem;
  height: 8rem;
  border-radius: 0.5rem;
}

.textOne {
  font-family: "Viga", sans-serif;
  margin-top: 5.3rem;
  color: #0b83de;
  font-size: 1.55rem;
  letter-spacing: 0.1em;
}

.textTwo {
  margin-top: 2.9rem;
  font-size: 1.7rem;
  font-weight: bold;
}

.textThree {
  margin-top: 2.5rem;
  font-size: 3rem;
  font-weight: bold;
}

.elementTwo {
  position: relative;
  top: 4.8rem;
  left: auto;
  width: 23.6rem;
  height: 11.9rem;
}

.elementTwo img {
  position: absolute;
  width: 25.6rem;
  height: 8.8rem;
  top: 0;
  left: 0;
}

.textFour {
  font-family: "Viga", sans-serif;
  color: #0b83de;
  font-size: 1.5rem;
  height: 6.7rem;
}

.textFour span {
  font-size: 5rem;
  line-height: 3.5rem;
}

.textFour span:nth-child(2) {
  line-height: 3.7rem;
}

.textFive {
  margin-top: 0.6rem;
  font-size: 2.3rem;
  line-height: 1.9rem;
  font-weight: bold;
}

/* SLIDER DESIGN */

.swiper {
  margin-top: 21px;
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 215px;
  height: 215px;
  object-fit: cover;
}

.swiper-button-prev {
  width: 34px;
  height: 14.5px;
  content: none;
  background-image: url(./Img/arrowRight.svg);
  background-position: center;
  background-repeat: no-repeat;
  rotate: 180deg;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  content: none;
}

.swiper-button-next {
  width: 34px;
  height: 14.5px;
  content: none;
  background-image: url(./Img/arrowRight.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  display: none;
}

.image-container img {
  margin: 0 auto;
}

/* .wrapper {
  width: 100%;
  position: relative;
}

.wrapper i {
  position: absolute;
  top: 50%;
  height: 45px;
  width: 46px;
  cursor: pointer;
  font-size: 12px;
  transform: translateY(-50%);
  cursor: pointer;
}

.wrapper i:first-child {
  left: 0px;
  top: 32.5%;
  rotate: 180deg;
  display: none;
}

.wrapper i:last-child {
  right: -0px;
}

.carousel {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  cursor: pointer;
  white-space: nowrap;
  overflow-y: hidden;
}

.dragging {
  cursor: grabbing;
  scroll-behavior: auto;
}

.dragging .image-container {
  cursor: grabbing;
}

.image-container {
  display: inline-block;

  width: 215px;
  height: 215px;
  pointer-events: none;
  margin-right: 7rem;
  margin-left: 7rem;
}

.image-container img {
  width: 215px;
  height: 215px;
}

.image-container img:first-child {
  margin-left: 0px;
}

.wrapper i:not(:last-child) {
  margin-right: 10px;
}

.carousel.dragging {
  cursor: grabbing;
} */

/* ///////////////////////////////////////////////// */

.textSix {
  margin-top: 2rem;
  font-size: 1.7rem;
  font-weight: bold;
}

.textSeven {
  margin-top: 5rem;
  font-size: 2.3rem;
  font-weight: bold;
}

.elementThree {
  padding: 2.5rem;
  padding-bottom: 6.1rem;
  margin: auto;
  margin-top: 2.7rem;
  margin-bottom: 5rem;
  width: 31.5rem;
  height: 16rem;
  border: 0.5rem solid black;
  border-radius: 3rem;

  font-size: 1.7rem;
  font-weight: bold;
  text-align: left;
}

.elementThree p:last-of-type {
  margin-top: 1rem;
  font-size: 1.1rem;
}

.blue-underline {
  color: #002ef0;
  /* text-decoration: underline; */
  border-bottom: 1px solid blue;
  cursor: pointer;
}

.blue-page-element {
  margin-top: 5rem;
  text-align: center;
  color: white;
  position: relative;
  width: 100%;
  height: 55.7rem;
  background-color: #4b9ad6;
  overflow: hidden;
}

.text-work {
  font-family: "Viga", sans-serif;
  position: relative;
  z-index: 100;
  margin-top: 5.8rem;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
}

.divider2 {
  margin: 1.3rem auto;
  width: 4.8rem;
  border: 0.1rem solid #4b9ad6;
}

.divider3 {
  margin-top: 11px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 4.8rem;
  border: 0.1rem solid #fff;
}

.job-content {
  font-weight: bold;
  font-size: 23px;
}

.blue-page-element p:nth-of-type(2) {
  position: relative;
  z-index: 100;
  margin-top: 5rem;
  font-size: 2.3rem;
}

.background-blue {
  position: absolute;
  top: 10rem;
  left: -10rem;
  z-index: 0;
  object-fit: unset;
  transform: rotate(42deg) scale(2);
  animation: movingIn linear 4s forwards infinite;
}

@keyframes movingIn {
  100% {
    transform: rotate(42deg) scale(2) translate(0%, -16%);
  }
}

.blue-page-element_container {
  position: relative;
  z-index: 100;
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 30px;
  width: 31.5rem;
  height: 33.2rem;
  border: 0.7rem solid black;
  border-radius: 2rem;
  background-color: white;
}

.blue-page-element_container img {
  width: 23.5rem;
  height: 15rem;
  margin-top: 3.9rem;
}

.blue-page-text {
  margin-top: 2.5rem;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  margin-bottom: 4.3rem;
  color: black;
  font-size: 1.6rem;
  font-weight: bold;
  text-align: left;
}

.green-page-element {
  position: relative;
  text-align: center;
  color: white;
  width: 100%;
  background-color: #40b9ac;
  overflow: hidden;
}

.underline2 {
  box-shadow: inset 0rem -0.4rem 0rem rgb(235, 231, 11);
}

.green-page-element .background {
  position: absolute;
  top: 0rem;
  left: 10rem;
  z-index: 0;
  object-fit: unset;
  transform: scale(3) rotate(42deg);
  animation: movingInGreen linear 4s forwards infinite;
}

@keyframes movingInGreen {
  100% {
    transform: scale(3) rotate(42deg) translate(0%, -8.5%);
  }
}

.reward-text {
  position: relative;
  z-index: 100;
  margin-top: 6.1rem;
  font-size: 2.3rem;
  font-weight: bold;
}

.greenPage-container {
  position: relative;
  z-index: 100;
  color: #000;
  margin: 4.45rem auto;
  background-color: #fff;
  width: 315px;
  border: 7.5px solid #000;
  border-radius: 20px;
}

.greenPage-container_img {
  margin: 40px 40px 0 40px;
  width: 235px;
  height: 150px;
  border-radius: 2rem;
}

.greenPage-container_text1,
.greenPage-container_text2 {
  font-size: 17px;
  line-height: 28.5px;
  font-weight: bold;
  text-align: center;
  line-height: none;
}

.greenPage-container_text1 {
  margin-top: 22.5px;
}

.greenPage-container_span1 {
}

.greenPage-container_span2 {
  display: inline-block;
  position: relative;
  font-size: 10px;
  transform: translateY(-25%);
}

.greenPage-container_text3,
.greenPage-container_text4 {
  line-height: 1;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
  text-align: left;
  margin: 0px 0px;
  padding: 0px 0px;
}

.greenPage-container_text3 {
  margin: 21px 46px 0px 46px;
}

.greenPage-container_text4 {
  margin: 0px 46px 42px 46px;
}

.greenPage-container_span3,
.greenPage-container_span4 {
  display: inline-block;
  font-size: 1.1rem;
  transform: scale(0.5);
}

.install-text {
  position: relative;
  z-index: 100;
  font-size: 1.7rem;
  font-weight: bold;
}

.slash {
  display: inline-block;
}

.slash1 {
  transform: scale(1.5) rotate(-10deg);
}

.slash2 {
  transform: scale(1.5) rotate(10deg);
}

.img-container {
  position: relative;
  margin: 0 auto;
  z-index: 100;
  width: 20.5rem;
  height: 31.6rem;
}

.my-img {
  transform: translateY(2.1rem);
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* MODAL WINDOW AND PLAY VIDEO BTN */

.play-btn {
  position: absolute;
  z-index: 100;
  width: 12rem;
  height: 13rem;
  left: 4.3rem;
  top: 9.7rem;
  cursor: pointer;
  animation: spinAnimation 15s linear infinite;
}

@keyframes spinAnimation {
  0% {
    transform: rotate(0turn);
  }
  100% {
    transform: rotate(1turn);
  }
}

.play-btn_white {
  position: relative;
  z-index: 200;
  top: -267px;
  scale: 70%;
}

.modal-window {
  position: fixed;
  z-index: 300;
  padding: 80px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background-color: rgb(255, 255, 255, 0.8);
  overflow-x: hidden;
  opacity: 0;
  transition: all 0.4s;
}

@keyframes closeModal {
  99% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

@keyframes openModal {
  99% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    visibility: visible;
    display: block;
  }
}

#player {
  /* margin: 80px; */
  /* max-width: calc(100% - 160px); */
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

iframe {
  display: block;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

.close-btn {
  position: fixed;
  z-index: 400;
  right: 40px;
  top: 40px;

  width: 55px;
  height: 29px;
  cursor: pointer;
}

.close-btn::before,
.close-btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: black;
  transform: translateY(-50%);
}

.close-btn::before {
  transform: rotate(30deg);
}

.close-btn::after {
  transform: rotate(-30deg);
}

.opened-style {
  animation: openModal linear 0.4s forwards;
}

.closed-style {
  animation: closeModal linear 0.4s forwards;
}

.overflowClass {
  overflow-y: hidden;
}

/* .modal-window {
  position: fixed;
  z-index: 300;
  top: 0;
  left: 0;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% - 160px);
  height: 250rem;
  background-color: white;
  opacity: 0.9;
} */

/* //////////////////////////////////////////////// */

.textEight {
  margin-top: 5.6rem;
  margin-bottom: 2.8rem;
  text-align: center;
  font-size: 2.3rem;
  font-weight: bold;
}

footer {
  color: white;
  margin-top: 5rem;
  background-color: black;
  width: 100%;
  height: 36rem;
  font-size: 1.2rem;

  display: grid;
  grid-template-columns: 3fr 1fr;
}

footer .left-content {
  margin: 5rem 3rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

  list-style: none;
}

footer .left-content li {
  cursor: pointer;
}

footer .right-content {
  margin-top: 32.5px;
  justify-self: center;
  border: 0.1rem solid white;
  background-color: white;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
}

footer .right-content::after {
  margin-top: -6px;
  content: "TOPに戻る";
  display: block;
  font-size: 14px;
  transform: scale(0.5) translateX(-16px);
  white-space: nowrap;
}

.right-content img {
  width: 1rem;
  height: 2.2rem;
  margin: 0.6rem 1.1rem;
}

.bottom-menu-logo {
  width: 8rem;
  height: 1.2rem;
}

.go-top-btn {
  font-size: 14px;
  transform: scale(0.5);
  white-space: nowrap;
}

@media only screen and (max-width: 50rem) {
  .webpage {
    opacity: 0;
    visibility: hidden;
  }

  body {
    min-width: 100%;
    max-width: 100%;
  }

  main {
    margin: auto;
    /* position: relative; */
    min-width: 39rem;
    width: 39rem;
    background-color: var(--custom-color1);
    max-width: 100%;
    width: 100%;
  }

  .modal-window {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

  #player {
    margin: 0;
    max-width: 100%;
    min-height: 300px;
    height: 50%;
    overflow-x: hidden;
  }

  iframe {
    display: block;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }

  nav .elementOne {
    display: block;
    margin: 3.3rem auto;
  }
}

@media only screen and (max-height: 30rem) {
  .aside-left_logo {
    display: none;
    visibility: hidden;
    opacity: 0;
  }

  .center {
    margin: auto;
    width: 451px;
    height: 100%;
    display: flex;
    align-items: center;
    transform: translateY(0);
  }
}
