/* GLOBAL STYLE RESET */
:root {
@import url("styleReset.css");

:root {
  --custom-color1: rgb(243, 243, 243);
}

/* CUSTOM CLASSES / CUSTOM COMPONENTS */

.underline {
  box-shadow: inset 0 -0.6rem rgba(235, 231, 15, 1);
}

/* DESKTOP DESIGN / DESKTOP VERSION */

body {
  min-width: 90rem;
  width: 100vw;
  min-height: 75rem;
  height: 100vh;
  position: absolute;
  overflow-x: hidden;
}

.webpage {
  position: fixed;

  min-width: 90rem;
  min-height: 75rem;
  width: 100vw;
  height: 100vh;
  background-image: url(./Img/backgroundBig.png);
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;

  display: grid;
  grid-template-columns: 1fr 39rem 1fr;
}

aside:first-child {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;

  width: auto;
}

/* DESIGN LEFT SIDE WEBPAGE */

.aside-left_logo img:first-child {
  margin-top: 3.5rem;
  margin-left: 3.5rem;
  width: 4%;
}

.aside-left_logo img:last-child {
  width: 20%;
}

.aside-left_logo2 {
  margin: auto;
}

.aside-left_logo2 img {
  object-fit: contain;
}

.aside-left_download-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: auto;
  background-color: var(--custom-color1);
  width: 82%;
  height: 20%;
  border: 0.5rem solid black;
  border-radius: 3rem;

  font-size: 1.5rem;
  font-weight: bold;
}

.aside-left_download-btn:hover {
  color: white;
  background-color: black;
}

.aside-left_download-btn img {
  margin-right: 1rem;
  min-width: 3rem;
  width: 10%;
}

/* DESIGN RIGHT SIDE WEBPAGE */

.aside-right {
  display: grid;
  grid-template-rows: 1;
  row-gap: 2rem;

  width: 100%;
  height: 100%;
}

.aside-right_title {
  font-size: 2rem;
  font-weight: bold;
  color: var(--custom-color1);
  justify-self: center;
  align-self: last baseline;
}

.aside-right_content {
  padding: 1rem;

  justify-self: center;
  align-self: baseline;
  background-color: #f3f3f3;
  width: 82%;
  height: 45%;
  border: 0.5rem solid black;
  border-radius: 4rem;

  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 3.2rem;
}

/* MAIN WEBPAGE DESIGN / CENTER PART */

main {
  margin: auto;
  position: relative;
  min-width: 39rem;
  width: 39rem;
  background-color: var(--custom-color1);
}

/* REFACTOR CODE FROM HERE */

header {
  margin: auto;
  width: 90%;
}

.menu {
  width: 4rem;
  height: 4rem;
  background-color: black;
  border: none;
  border-radius: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.menu .line {
  width: 3rem;
  border: 0.1rem solid white;
  border-radius: 1rem;
}

.main-content {
  margin: auto;
  width: 90%;
  /* I CAN ADD FLEXBOX HERE TO CENTER EVERY ELEMENT */
  text-align: center;
}

.main-content .aside-left_download-btn {
  width: 100%;
  margin-top: 3rem;
}

.elementOne {
  margin: 3rem auto;
  width: 90%;
  height: 9rem;
  border-radius: 1rem;
  background-color: #ff7600;
}

.textOne {
  color: #0b83de;
  font-size: 1.7rem;
}

.textTwo {
  font-size: 1.9rem;
  font-weight: 400;
}

.textThree {
  margin-top: 2.5rem;
  font-size: 3rem;
  font-weight: bold;
}

.elementTwo {
  position: relative;
  width: 100%;
  height: 10rem;
}

.elementTwo img {
  position: absolute;
  top: 0;
  left: 0;
}

.textFour {
  color: #0b83de;
  font-size: 2.5rem;
  line-height: 3.3rem;
}

.textFour span {
  font-size: 5.5rem;
}

.textFive {
  font-size: 3rem;
  font-weight: bold;
}

/* SLIDER DESIGN */

.wrapper {
  margin-top: 2rem;

  position: relative;
  width: 100%;
  height: 30rem;

  border: 0.1rem solid black;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.carousel {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
}

.carousel img {
  margin-left: 1rem;
  width: calc(100% / 1);
  height: 20rem;
  object-fit: contain;
}

.carousel img:first-child {
  margin-left: 0;
}

/* ///////////////////////////////////////////////// */

.textSix {
  margin-top: 4.6rem;
  font-size: 1.8rem;
  font-weight: bold;
}

.textSeven {
  margin-top: 9.5rem;
  font-size: 2.3rem;
  font-weight: bold;
}

.elementThree {
  padding: 2.5rem;
  margin-top: 3rem;
  margin-bottom: 5rem;
  width: 100%;
  height: 16rem;
  border: 0.5rem solid black;
  border-radius: 3rem;

  font-size: 1.7rem;
  font-weight: bold;
}

.elementThree p:last-child {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.blue-page-element {
  position: relative;
  width: 100%;
  height: 55.7rem;
  background-color: #4b9ad6;
  overflow: hidden;
}

.blue-page-element img {
  position: absolute;
  top: 50rem;
  z-index: 1;
  object-fit: unset;
  transform: rotate(35deg) scale(3);
  animation: movingIn linear 4s forwards infinite;
}

@keyframes movingIn {
  100% {
    transform: rotate(35deg) scale(3) translate(-32.5%, 0%);
  }
}

.green-page-element {
  width: 100%;
  height: 88.5rem;
  background-color: #40b9ac;
  /* overflow: hidden; */
}

.green-page-element img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.textEight {
  margin-top: 5.6rem;
  margin-bottom: 2.8rem;
  text-align: center;
  font-size: 2.3rem;
  font-weight: bold;
}

footer {
  color: white;
  margin-top: 5rem;
  background-color: black;
  width: 100%;
  height: 36rem;
  font-size: 1.2rem;

  display: grid;
  grid-template-columns: 3fr 1fr;
}

footer .left-content {
  margin: 5rem 3rem;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

footer .right-content {
  margin-top: 3.3rem;
  border: 0.1rem solid white;
  background-color: white;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 0.5rem;
  justify-self: center;
}

@media only screen and (max-width: 50rem) {
  .webpage {
    /* default is 1 */
    opacity: 0;
    /* default is visible */
    visibility: hidden;
  }

  body {
    min-width: 100%;
    max-width: 100%;
  }

  main {
    max-width: 100%;
    width: 100%;
  }
}

